.navbar {
  background-color: #343a40;
  padding: 15px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  text-decoration: underline;
}
